/* menuview.css */

#view {
    -fx-background-image: url('/images/background.png'); /* Imagen de fondo */
    -fx-background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
}

.button {
    -fx-font-size: 1.5em; /* Tamaño de la fuente */
    -fx-font-family: "Comic Sans MS", cursive, sans-serif; /* Tipo de letra */
    -fx-background-color: #FFFFE4B5; /* Color de fondo */
    -fx-text-fill: black; /* Color del texto */
    -fx-background-radius: 5px; /* Radio de esquina para bordes redondeados */
}

.button:hover {
    -fx-background-color: #E0D2A9; /* Cambia el color de fondo al pasar el ratón */
}

.button:pressed {
    -fx-background-color: #cebd8d; /* Cambia el color de fondo al presionar el botón */
}

/* Este estilo hace que el BorderPane se ajuste al tamaño de la ventana */
#view > * {
    -fx-alignment: center; /* Centra los elementos dentro del BorderPane */
    -fx-padding: 10px; /* Espaciado entre los elementos y el borde del BorderPane */
    -fx-max-width: Infinity; /* Permite que los elementos se expandan horizontalmente */
    -fx-max-height: Infinity; /* Permite que los elementos se expandan verticalmente */
}

/* Este estilo ajusta el tamaño máximo de los botones */
.button {
    -fx-max-width: 200px; /* Ancho máximo */
    -fx-max-height: 80px; /* Altura máxima */
}
